apiVersion: v1
kind: Secret
metadata:
  name: 'helloaerogearsecret'
  namespace: {{ namespace }}
  labels:
    mobile: enabled
    serviceName: helloaerogear
stringData:
  type: helloaerogearsecret
  name: helloaerogearsecret
  uri: {{ hello_aerogear_route.stdout }}